<div class="widgets">
    <div class="col-md-3"></div>
    <form class="form-group col-md-6">
        <div class="form-group">
            <label for="email">아이디(이메일)</label>
            <input type="email" class="form-control" id="email" ng-model="email" disabled>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" ng-model="password" placeholder="비밀번호">
        </div>
        <div class="form-group">
            <label for="confirmPassword">비밀번호 확인</label>
            <input type="password" class="form-control" id="confirmPassword" ng-model="confirmPassword" placeholder="비밀번호 확인">
        </div>
        <div class="form-group">
            <label for="username">이름</label>
            <input type="username" class="form-control" id="username" ng-model="username">
        </div>
        <div class="form-group">
            <label for="registrationDate">가입일</label>
            <input type="registrationDate" class="form-control" id="registrationDate" ng-model="registrationDate" disabled>
        </div>
        <button type="submit" class="btn btn-warning" ng-click="submitForm()">수정하기</button>
        <button type="submit" class="btn btn-danger  pull-right" ng-click="delete()">탈퇴하기</button>
    </form>
    <div class="col-md-3"></div>
</div>