<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
    <a href="#/intro" class="al-logo clearfix"><span>책</span>검색</a>
    <div class="user-profile clearfix">

        <div class="al-user-profile" ng-if="!isAuthenticated()">
            <a href="#/login" class="al-logo clearfix" style="font-size: 14px;">로그인 &nbsp&nbsp</a>
            <a href="#/signup" class="al-logo clearfix" style="font-size: 14px;">회원가입</a>
        </div>

        <div class="al-user-profile" ng-if="isAuthenticated()">
            <a href="#/logout" class="al-logo clearfix" style="font-size: 14px;">로그아웃</a>
        </div>

    </div>
</div>