<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title bold-text">{{$resolve.items.title}}</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="col-md-3">
        <a href="{{$resolve.items.url}}">
            <img ng-src="{{$resolve.items.thumbnail}}" width="100" height="150">
        </a>
      </div>
      <div class="col-md-9 links ng-scope">
        {{customizedIsNullOrEmpty($resolve.items.category)}} </br></br>
        {{customizedIsNullOrEmpty($resolve.items.contents)}} <a href="{{$resolve.items.url}}">이어보기</a> </br></br>

        <ul class="blur">
          <li>저자 : {{customizedIsNullOrEmpty($resolve.items.authorString)}}</li>
          <li>출판사 : {{customizedIsNullOrEmpty($resolve.items.publisher)}}</li>
          <li>번역가 : {{customizedIsNullOrEmpty($resolve.items.translatorString)}}</li>
          <li>발행일 : {{customizedIsNullOrEmpty($resolve.items.datetimeString)}}</li>
          <li>정가 : {{$resolve.items.price | currency:"":0}}원</li>
          <li>할인금액 : {{$resolve.items.sale_price | currency:"":0}}원 ( {{($resolve.items.sale_yn == 'Y') ? '할인중' : '정상가'}} )</li>
          <li><a href="{{$resolve.items.url}}">{{$resolve.items.status}}</a></li>
          <li>ISBN : {{customizedIsNullOrEmpty($resolve.items.isbn)}}</li>
          <li>바코드 : {{(angular.isUndefined($resolve.items.barcode)) ? $resolve.items.ebook_barcode : $resolve.items.barcode}}</li>
        </ul>

      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close($resolve.items)">Bookmark</button>
  </div>
</div>