<div class="widgets">

    <form class="form-group col-md-6">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" ng-model="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" ng-model="confirmPassword" placeholder="confirmPassword">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" ng-model="username" placeholder="Username">
      </div>
      <button type="submit" class="btn btn-danger" ng-click="submitSignupForm()">Submit</button>
    </form>

</div>